body{
    background-color: black;
}
.jumbotron{
    background-image:url("../img/City.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:360px;
    width:auto;
}
.jumbotron-content{
    height: 300px;
}