
.jumbotron{
    background-image:url("../img/City.jpg");
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:360px;
    width:auto;
}
.jumbotron-content{
    height: 250px;
}

.container{
    position: center;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
.Thailand{
    background-image:url("../img/thailand.jpg");
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:300px;
    max-width:100%;
}
.thailand-content{
    height: 150px;
}
.Japan{
    background-image:url("../img/japan.jpg");
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:300px;
    max-width:100%;
}

.Hawaii{
    background-image:url("../img/hawaii2.jpg");
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:300px;
    max-width:100%;
}
i {
    background-color: white;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 10px;
  }